@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');

.App {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-image: url(./imgs/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Slabo 27px', serif;
	display: flex;
	justify-content: center;
	text-align: center;
	color: black;
}

.Card {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

.Deck-cardarea {
	margin-top: 80px;
}

.Deck-title {
	color: rgb(32, 30, 30);
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 5px;
}
.subtitle {
	font-size: 20px;
}

button {
	background-color: #4caf50;
	outline: none;
	font: inherit;
	margin: 0.5em;
	padding: 1em 2em;
	transition: 0.05s;
	border-radius: 0.5em;
	border-color: #4caf50;
}

button:hover {
	border-color: #306e32;
	color: white;
	box-shadow: inset 0 0 0 2em #306e32;
}
